@charset "UTF-8";

color {
    background-color: #B8D9D3;
    background-color: #591919;
    background-color: #419CA6;
    background-color: #2E4959;
    background-color: #A62D2D;
}
body{
    background-color: #591919d7;
    
}

main{
    margin: auto;
    background-color: white;
    width: 700px;
    padding: 40px;
    text-align: center;
}
h1{
    color: #A62D2D;
}
.foto>img{
    border-radius: 100px;
}
.btn-link{
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.295);  
    text-align: center;
    padding: 10px 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #591919;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
    border-radius: 1px 10px 1px 10px;
    transition: 1s;
}

.btn-link:hover{
    background-color: #A62D2D;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.p{
    padding: 8px;
   
}