@charset "UTF-8";

/* 
    em HTML é id = CSS é #
    em HTML é class = em css é .
*/

body{
    background-color: rgba(172, 240, 212, 0.753);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgba(3, 153, 88, 0.973);
}

h1#principal{
    text-align: center;
    color: rgb(53, 115, 230);
    background-color: rgb(184, 208, 252);
}

h2{
    color:rgba(92, 138, 132, 0.753);
}

.basico {
    color:rgba(56, 230, 236, 0.753);
    font-weight: bold;
}

.intermediario {
    color:rgb(97, 99, 3);
}

.avançado {
    color:rgba(228, 180, 21, 0.753);
}

.destaque{
    background-color: rgba(189, 187, 99, 0.521);
}
